<% if flash[:notice]%>
<div class="alert alert-primary" role="alert">
  <%= flash[:notice]%>
</div>
<% elsif flash[:alert]%>
<div class="alert alert-danger" role="alert">
  <%= flash[:alert]%>
</div>
<% elsif flash[:exit]%>
<div class="alert alert-primary" role="alert">
  <%= flash[:exit]%>
</div>
<% end %>
