<link href="/user.css" rel="stylesheet">

<!-- <form action="/user/create" method="post">
  닉네임 : <input type="text" name="name" /> <br />
  이메일 : <input type="email" name="email" /> <br />
  비밀번호 : <input type="password" name="password" /> <br />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" /><br />
  <input class="btn btn-primary" type="submit" value="확인">
  <a class="btn btn-primary" href="/" role="button">취소</a>
</form> -->


<div class="container">

  <form class="form-signin" action="/user/create" method="post">
    <h2 class="form-signin-heading">회원가입</h2>
    <label for="inputName" class="sr-only">이름</label>
    <input type="text" name="name" id="inputName" class="form-control" placeholder="이름" required autofocus />
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button class="btn btn-lg btn-primary btn-block" type="submit">확인</button>
  </form>

</div> <!-- /container -->
