<!Doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <title>게시판</title>
  <style>
    input, textarea {margin-top: 10px;}
  </style>
</head>
<body>
  <h2> 잡담방 </h2>
  <form action="/usercomplete">
    이메일 : <input name="email" type="email" placeholder="이메일을 입력해주세요" /><br />
    비밀번호 : <input type="password" name="pwd" placeholder="비밀번호를 입력해주세요" />
    비밀번호 확인 : <input type="password" name="pwd2" placeholder="비밀번호를 확인해주세요" />
    <input type="submit" value="뿅!!!!"/>
  </form>
</body>
</html>
