<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<body>
  <h2>회원가입이 되었습니다!</h2>
  <p>아이디: <%= @email %> </p>
  <p>비밀번호: <%= @pwd %> </p>
  <p>가입날짜 <%= @time %>  </p>
  <a href="/"> 홈으로 가기 </a>
  <a href="/signup"> 회원가입 또 하기</a>
  <a href="/users"> 회원 목록 보기</a>
</body>
</html>
