<!-- index.html.erb -->
<h1>여기는 INDEX 입니다.</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>글번호</th>
      <th>제목</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
    <tr class="board" data-value="<%= board.id %>">
      <td><%= board.id %></td>
      <td class="title"><%= board.title %></td>

    </tr>
    <% end %>
  </tbody>
</table>

<a href="/boards/new" class="btn btn-warning">새글쓰기</a>
<button type="button" class="btn btn-info">제목바꾸기</button>
<button type="button" class="btn btn-danger color-btn">빨강</button>
<button type="button" class="btn btn-info color-btn">파랑</button>
<button type="button" class="btn btn-success color-btn">초록</button>
<script>

</script>
<!-- ./ 는 public폴더를 가리킨다. -->
<!-- <script src="./text-color.js"></script> -->
<!-- <script src="./tr-link.js"></script> -->
