<h2>투표합시다!!</h2>

<form action="/result">
  1시간<input type="radio" name="vote" value="1" /><br />
  2시간<input type="radio" name="vote" value="2" /><br />
  3시간<input type="radio" name="vote" value="3" /><br />
  4시간<input type="radio" name="vote" value="4" /><br />
  <input type="submit" value="뿅!" />
</form>
